<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="recipeForm.invalid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Recipe Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name">
            <div class="help-block" *ngIf="recipeForm.get('name').invalid && recipeForm.get('name').touched">
              Recipe name is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              class="form-control"
              id="imagePath"
              formControlName="imagePath"
              #imagePath>
            <div class="help-block" *ngIf="recipeForm.get('imagePath').invalid && recipeForm.get('imagePath').touched">
              Image path is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" alt="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              class="form-control"
              rows="6"
              id="description"
              formControlName="description">
            </textarea>
            <div class="help-block" *ngIf="recipeForm.get('description').invalid && recipeForm.get('description').touched">
              Description is required.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <label for="ingredients">Ingredients</label>
        <div class="col-xs-12" id="ingredients" formArrayName="ingredients">
          <div class="row"
               style="margin-top: 10px"
               *ngFor="let ingredientCtrl of getControls(); let i = index"
               [formGroupName]="i">
            <div class="col-xs-8">
              <input
                type="text"
                class="form-control"
                formControlName="name">
            </div>
            <div class="col-xs-2">
              <input
                type="text"
                class="form-control"
                formControlName="amount">
            </div>
            <div class="col-xs-2">
             <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-1">
              <button
                class="btn btn-success"
                type="button"
                (click)="addIngredient()">Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
